<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portofolio Muhammad Ibnu Setiawan</title>

    <!-- Box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Custom Icon -->
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <!-- Header -->
    <header class="header">
        <a href="#" class="logo">Portofolio</a>
        <i class='bx bx-menu' id="menu-icon"></i>

        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <!-- home selection -->
    <section class="home" id="home">
        <div class="home-content">
            <h3>Hallo Semua👋 ini Saya</h3>
            <h1>Muhammad Ibnu Setiawan</h1>
            <h3>And I'am a <span class="multiple-text"></span></h3>
            <p>Selamat Datang di portofolio saya! Di sini, Anda dapat menemukan berbagai pencapain,project kerja yang telah saya selesaikan. jelajai hasil saya untuk gambaran tentang ketrampilan dan dedikasi saya dunia IT. Terima Kasih Atas Kunjungannya! Mari berteman dengan akun sosial Media saya dibawah ini</p>
            <div class="sosial-media">
                <a href="https://facebook.com/ibnu.setiawan.0"><i class='bx bxl-facebook'></i></a>
                <a href="https://instagram.com/ibnuusetyawan"><i class='bx bxl-instagram-alt'></i></a>
                <a href="https://Linkedin.com/muhammad-ibnu-setiawan-572b58283"><i class='bx bxl-linkedin'></i></a>
                <a href="https://youtube.com/@IbnusetyawanProjection"><i class='bx bxl-youtube'></i></a>
                <a href="https://wa.me/+6285526286531"><i class='bx bxl-whatsapp'></i></a>
            </div>
            <a href="https://drive.google.com/file/d/1HS8vX0VUJsvaOswmubQYtADLiO7wzc3v/view?usp=sharing" class="btn">Download CV</a>
        </div>

        <div class="home-img">
            <img src="static/png_20230806_121020_0000-removebg.png" alt="">
        </div>
    </section>

    <!-- about -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="static/inuu.png" alt="">
        </div>

        <div class="about-content">
            <h2 class="heading">Tentang <span>Saya</span></h2>
            <h3>Junior Web Developer</h3>
            <p>
                Saya adalah mahasiswa D3 Teknologi Komputer Universitas Bina Sarana Informatika semester 4. Saya telah mempelajari berbagai aspek teknologi komputer seperti pemrograman, jaringan, sistem operasi, dan Desain Grafis. Saya memiliki pengalaman magang 6 bulan di Aldi Games Playstation, di mana saya mengelola server game, membantu pemain, dan menyelesaikan masalah teknis. Pengalaman ini menggabungkan teori dengan praktik dan membantu saya belajar, berkembang terhadap teknologi sekarang.</p>
                <P>Saat ini, saya juga mengikuti program MSIB Magang Studi Independen di Kampus Merdeka bersama LearningX.
                Program ini memungkinkan saya untuk mendapatkan pengalaman kerja yang lebih real-world dan memperdalam pengetahuan saya di bidang teknologi komputer. Saya yakin dengan kombinasi pendidikan formal, pengalaman magang, dan program MSIB, saya akan siap untuk memasuki dunia kerja dan memberikan kontribusi yang positif di bidang teknologi.</p>
            <a href="https://Linkedin.com/muhammad-ibnu-setiawan-572b58283" class="btn">Read More</a>
        </div>
    </section>

    <!-- servis -->
    <section class="services" id="services">
        <h2 class="heading">Our <span>Services</span></h2>

        <div class="services-container">
            <div class="services-box">
                <i class='bx bx-code-alt'></i>
                <h3>Junior Web Developer</h3>
                <p>Sebagai Seorang junior web saya cukup mahir mengunakan bahasa pemograman HTML,CSS & Java Script,saya juga telah mengembangan proyek kecil yang menunjukan kemampuan dalam menciptakan desain website yang responsive & menarik, saya slalu terbuka untuk belajar hall baru & berkolaborasi dengan tim menciptakan pengalaman web yang luar biasa</p>
                <a href="#" class="btn">Read More</a>
            </div>
            <div class="services-box">
                <i class='bx bx-signal-5'></i>
                <h3>Junior Network</h3>
                <p>Dengan dilatar belakangi pendidikan Teknologi Komputer& sertifikasi yang relevan ,sebagai junior Network saya memiliki pengetahuan mendalam tentang jaringan ,kemampuan Merancang ,menconfigurasikan mengunakan cisco,Saya slalu bersemangat untuk belajar & percaya bahwa kualitas kerja tim saya akan menjadi nilai tambah dalam lingkungan kerja</p>
                <a href="#" class="btn">Read More</a>
            </div>
            <div class="services-box">
                <i class='bx bxs-paint'></i>
                <h3>Juior Desain Graphic</h3>
                <p>Sebagai seorang Junior Desain , saya memiliki keahlian menciptakan desain visual yang menarik. dengan penguasan mengunakan Canva, Picsay pro & Adobe, saya telah menyelesaikan desain Logo ,Poster dan ilustrasi estetika yang unik, Saya slalu bersemngat untuk belajar dan berkembang dalam proyek tim yang menarik yang akan menghasilkan dampak visual yang luar biasa </p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
    </section>

    <!-- Portofolio -->
    <section class="portfolio" id="portfolio">
        <h2 class="heading">Sertifikat & <span>Project</span></h2>

        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="static/JNA.jpg" alt="">
                <div class="portfolio-layer">
                    <h4>Junior Network</h4>
                    <p>Sertifikasi Junior Network Administrator yang diselenggarakan Oleh BPTIK Di cikarang .</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="static/project.png" alt="">
                <div class="portfolio-layer">
                    <h4>Membuat Website</h4>
                    <p>Membuat website portfolio pribadi mengunakan HTML,CSS,JavaScript.</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="static/cnna.jpg" alt="">
                <div class="portfolio-layer">
                    <h4>Cisco CNNA</h4>
                    <p>Sertifikasi Cisco CNNAv7 .introduction to Networks.</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="static/isoftware.jpg" alt="">
                <div class="portfolio-layer">
                    <h4>Basic Programing Software</h4>
                    <p>Sertifikat Kompetensi Dicoding For Univercity yang Diselengarakan Oleh Dicoding.</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="static/magang.jpg" alt="">
                <div class="portfolio-layer">
                    <h4>Magang Operator Game</h4>
                    <p>Saya Magang di aldy Games Playstation sebagai Operator Selama 6 bulan.</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="static/proyek.jpg" alt="">
                <div class="portfolio-layer">
                    <h4>Project Desain Grafis</h4>
                    <p>Beberapa Project Poster desain grafis lainya, saya buat mengunakan Canva Dan Piscay Pro</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="static/line folower.jpg" alt="">
                <div class="portfolio-layer">
                    <h4>Project Robot Line Folower</h4>
                    <p>Project line folower ini saya buat pada saat kuliah menggunakan arduino uno Tujuan nya Memperkuat kemampuan solder dan perakitan elektronik.
                        Mempelajari pemrograman mikrokontroler.
                        Meningkatkan kemampuan debugging dan troubleshooting.</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="static/serkom.jpg" alt="">
                <div class="portfolio-layer">
                    <h4>Sertifikasi Komputer BNSP</h4>
                    <p> Mengikuti Sertifikasi Kompetensi Junior Network Administrator yang diselenggarakan Oleh BPTIK Di cikarang </p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="static/Control panel.jpg" alt="">
                <div class="portfolio-layer">
                    <h4>Project Control Panel Menggunakan Arduino uno</h4>
                    <p>Project Ini Saya buat bersama kelompok saya menggunakan arduino uno tujuan nya Memperkuat kemampuan solder dan perakitan elektronik.
                        Mempelajari pemrograman mikrokontroler.
                        Meningkatkan kemampuan debugging dan troubleshooting.</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>

        </div>
    </section>

    <!-- contact -->
    <section class="contact" id="contact">
        <h2 class="heading">Contact <span>Me!</span></h2>

        <form action="https://formsubmit.co/92b00c26c78fb39172d6a11c6a073461" method="post">
            <div class="input-box">
                <input type="text" placeholder="Full Name">
                <input type="email" placeholder="Email address">
            </div>
            <div class="input-box">
                <input type="number" placeholder="Mobile Number">
                <input type="text" placeholder="Email Subject">
            </div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <input type="submit" value="Send Message" class="btn">
        </form>
        
    </section>

    <!-- footer design  -->
    <footer>
        <div class="footer">
            <div class="footer-text">
                <p>Copyright &copy; 2024 by Muhammad Ibnu Setiawan My First website.</p>
            </div>

            <div class="footer-iconTop">
                <a href="#home"><i class='bx bx-up-arrow-alt'></i></a>
            </div>
        </div>
    </footer>

    <!-- scroll reveal -->

    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- typed js -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <!-- custom js -->
    <script src="static/script.js"></script>
</body>

</html>